@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Hanken+Grotesk:wght@500;700;800&family=Lato:wght@300&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input, button {
  border: none;
  font-family: inherit;
}

ul, li {
  list-style: none;
}

body {
  background: var(--Cream);
  font-size: 0.875rem;
  font-family: var(--ff2);
  min-height: calc(100vh - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Dark-cyann: hsl(159, 47%, 12%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --ff1: "Fraunces", serif;
  --ff2: "Montseratt", sans-serif;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 50%;
}

.content {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  max-width: 360px;
  width: 340px;
}
@media screen and (min-width: 700px) {
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width: 650px;
    height: 520px;
  }
}

.parfume-image__image {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 0.5rem 0.5rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 700px) {
  .parfume-image__image {
    border-radius: 0.5rem 0 0 0.5rem;
    height: 520px;
    width: 500px;
  }
}

.parfume__image2 {
  height: 100%;
  width: 100%;
  display: block;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
  max-width: 25rem;
}
@media screen and (min-width: 700px) {
  .about__container {
    padding: 1.6rem;
  }
}
.info__h5 {
  text-transform: uppercase;
  font-family: var(--ff2);
  font-weight: 700;
  font-size: 0.65rem;
  color: var(--Dark-grayish-blue);
  letter-spacing: 6px;
  margin: 0 0 0.85rem 0;
}
@media screen and (min-width: 700px) {
  .info__h5 {
    margin-top: 0.6rem;
    font-size: 0.82rem;
    font-weight: 700;
  }
}
.info__h1 {
  font-family: var(--ff1);
  font-size: 1.8rem;
  color: var(--Very-dark-blue);
  font-weight: 700;
  margin: 0 0 0.85rem 0;
}
@media screen and (min-width: 700px) {
  .info__h1 {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
  }
}
.info__p {
  font-family: var(--ff2);
  color: var(--Dark-grayish-blue);
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.3rem;
  margin: 0 0 0.8rem 0;
}
@media screen and (min-width: 700px) {
  .info__p {
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
}
.info__price1 {
  color: var(--Dark-cyan);
  font-family: var(--ff1);
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: -6rem;
}
@media screen and (min-width: 700px) {
  .info__price1 {
    margin-left: -2rem;
    font-size: 2rem;
  }
}
.info__price2 {
  font-size: 0.7rem;
  color: var(--Dark-grayish-blue);
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .info__price2 {
    font-size: 1rem;
  }
}

.parfume__price-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0.8rem 0;
}
@media screen and (min-width: 700px) {
  .parfume__price-row {
    margin: 0 0 1.5rem 0;
  }
}

.btn {
  background: var(--Dark-cyan);
  color: var(--White);
  font-weight: 700;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  background: var(--Dark-cyann);
}
@media screen and (min-width: 700px) {
  .btn {
    height: 3rem;
    font-size: 1rem;
  }
}

.attribution {
  margin: 1rem 0 0 0;
}
@media screen and (min-width: 700px) {
  .attribution {
    margin: 1rem 0 0 0;
  }
}/*# sourceMappingURL=style.css.map */